*~
*.ali
*.o
*.db
*.out
*.log.*
*log.200*
*.orig
*.patch
**b~*
bin
obj
\#*
.\#*
*.log
external-libs/morzhol
lcov_analyse
semantic.cache
argwiadctl/doc/argwiadctl.1
argwiadctl/doc/argwiadctl.html
argwiadctl/doc/argwiadctl.xml
doc/build
doc/gen_doc.sed
doc/gwiad.html
doc/gwiad.info
doc/gwiad.pdf
doc/gwiad.ps
doc/gwiad.texi
