##############################################################################
##                                  Gwiad                                   ##
##                                                                          ##
##                           Copyright (C) 2007                             ##
##                            Olivier Ramonat                               ##
##                                                                          ##
##  This library is free software; you can redistribute it and/or modify    ##
##  it under the terms of the GNU General Public License as published by    ##
##  the Free Software Foundation; either version 2 of the License, or (at   ##
##  your option) any later version.                                         ##
##                                                                          ##
##  This library is distributed in the hope that it will be useful, but     ##
##  WITHOUT ANY WARRANTY; without even the implied warranty of              ##
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU       ##
##  General Public License for more details.                                ##
##                                                                          ##
##  You should have received a copy of the GNU General Public License       ##
##  along with this library; if not, write to the Free Software Foundation, ##
##  Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.       ##
##############################################################################

# Options
INSTALL	 = /opt/gnat/gpl-2006
DEMO_INSTALL = /opt/gwiad
MODE=Debug
CP=cp -p
MKDIR=mkdir -p
RM=rm -f
TAR_DIR=tar czf

# For demo distribution
AWS_LIB_DIR=/opt/gnat/gpl-2006/lib/aws
ADA_LIB_DIR=/opt/gnat/gpl-2006/lib/gcc/i686-pc-linux-gnu/3.4.6/adalib
